.c-tenantssection .cards-warper .card{
    background-color: #8B008B !important;

}

.c-tenantssection .cards-warper .add-card svg{
    color: #8B008B;
}


.c-tenantssection .cards-warper .add-card{
    border: 5px solid #8B008B;
}


.c-tenantssection.cards-warper .add-card:hover svg{
    border: 5px solid #8B008B;
    
 } 

 .c-tenantssection .cards-warper .add-card:hover h5{
    color: white;
 } 

 
 .c-tenantssection .cards-warper .add-card:hover{
    border: 5px solid white !important;
    background-color: #8B008B !important;
 } 






