@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.modal-content{
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;
    padding-left:0 !important;  
}

.modal-content .modal-title{
    flex-grow: 1;
    text-align: -webkit-center;
    color: purple;
    font-weight: bold;
    padding-left: 51px; 
}


.modal-content button{
    height: 55px;
    width: 94px;
    font-weight: 900;
}


.modal-content .create{
    background-color: darkcyan;
   
}

.modal-content input[type='file']{
    display: none   ;
}

.modal-content img{
    height: 35px;
    margin-bottom: 10px;
}

.modal-content p{
   display: inline-block;
   margin-top: 20px;
   padding-left: 12px;
}

.file-input-warper{
    padding-left:10px ;
}

@media (max-width: 980px){ 
    .modal-content .modal-title{
        font-size: 17px;
        margin-top: 1px;
    }

    .modal-content .modal-header{
        padding: 5px;
    }
    }






    