@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.modal-content{
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;
}


.modal-content button{
    height: 55px;
    width: 94px;
    font-weight: 900;
}


.modal-content .create{
    background-color: darkcyan;
   
}

.modal-content input[type='file']{
    display: none   ;
}

.modal-content img{
    height: 35px;
    margin-bottom: 10px;
}

.modal-content p{
display: inline-block;
margin-top: 20px;
padding-left: 12px;
}

.file-input-warper{
    padding-left:10px ;
}






    