.c-roomcard  .card-body svg{
    margin: 2px auto !important;
    font-size: 29px  !important;
    color: white;
}

.c-roomcard  .content{
 height:150px;
}

.c-roomcard  .card-title{
    height:40px;
   }


.c-roomcard  .card-icon-wrper{
    opacity:0.5;
 }

 .c-roomcard  svg{
    margin: 5px auto !important;
    font-size: 27px !important;
    color: white !important;
 }

.c-roomcard:hover .card-icon-wrper
{
    opacity:1;
    transition:all 0.5s ease;
}

.c-roomcard svg :hover
{
    color:black;
    transition:all 0.3s ease;
}