.p-hostelpage{
    height: calc(100vh - 289px);
    position:absolute;
    top:50px;
    bottom:120px;
    left:0px;
    right:0px;
    overflow:auto
}

.p-hostelpage h1{
   font-weight: bold;
}

.p-hostelpage .container .cards-warper{
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   justify-content: center;
} 

.p-hostelpage .container .cards-warper .card{
    margin: 10px;
    border-radius: 4px !important;
    box-shadow: 4px 3px 8px grey;

 } 

 .p-hostelpage .container .cards-warper .card .card-title{
     text-align: center;
 }

 .p-hostelpage .container {
     margin-top: 40px;
}

 .p-hostelpage .container .cards-warper .card .card-body svg{
    display: block;
    margin: 20px auto;
    font-size: 122px;
    cursor: pointer;
}

.p-hostelpage .container .cards-warper .add-card{
    margin: 10px;
    border-radius: 10px !important;
    box-shadow: 4px 3px 8px grey;
    background-color: white !important;
 } 

 .p-hostelpage .container .cards-warper .add-card h5{
    color: darkcyan;
    text-align: center;
 } 


 .p-hostelpage .container .cards-warper .add-card:hover{
    color: white;
    border: 5px solid white;
 } 

 
 .p-hostelpage .container .cards-warper .add-card:hover svg{
    color: white;
    font-size: 152px;
    margin: 5px auto;
    /* border: 5px solid white; */
 } 



 .p-hostelpage .container .nav-link {
   padding: 0.7rem 9rem;
 }


 .p-hostelpage .container .nav-tabs {
   justify-content: space-evenly;
   font-weight: 700;
   margin-top: 26px;
 }

 .p-hostelpage .container .nav-tabs  a{
   /* color: coral; */
 }

 @media (max-width: 1200px){ 
   .p-hostelpage .container .nav-link {
      padding: 1.0rem 1.2rem;
    }

    .p-hostelpage{
      height: calc(100vh - 216px);
  
  }


   }