/* @import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&display=swap'); */
.p-hostelpage{

    height: calc(100vh - 289px);
    /* font-family: 'Archivo Narrow', sans-serif; */
}


.p-hostelpage svg{
    margin: 0 0 2px 7px;
}


.p-hostelpage #add-new{
    float: right;
    height: 49px;
    font-weight: bold;

}

