
.c-hostelaccordion .card{
 
    padding: 10px;
    border: none;
}

.c-hostelaccordion button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}


.c-hostelaccordion .card-header{
    background-color: darkcyan;
    border-radius: 10px !important;
    box-shadow: 4px 3px 8px grey;
}


.p-hostelspage .crud-icons svg{
    color: darkcyan !important;
    cursor: pointer;
}

.p-hostelspage .crud-icons svg:hover{
    color: black !important;
}

.p-hostelspage .crud-icons{
    text-align: end !important;
}


.c-hostelaccordion .col-sm-12{
    text-align: center;
}

.c-hostelaccordion span{
    font-weight: bold;
}

.c-hostelaccordion .card-header span{
    margin-left: 12px;
}


@media (max-width: 980px){ 

    .c-hostelaccordion button{
      /* margin: 0 auto; */
      display: block;
    }

    .p-hostelspage svg {
        margin: 0 18px 6px 0px;
        font-size: x-large;
        margin-left: 5px;
    }

    .c-hostelaccordion .card-header span {
        margin-left: 0px;
    }

    .p-hostelspage #add-new {
        float: right;
        height: 58px;
        font-weight: bold;
        display: block;
    }

    .p-hostelspage .crud-icons{
        margin-top: 19px;
        text-align: center !important;
    }

    .c-hostelaccordion .col-sm-12 {
        text-align: start;
    }
    

    }

